span.star {
    color: #ffbb00;
}

span.cet {
    margin: 0 3px;
    padding: 0 3px;
    font-weight: normal;
    font-size: 0.8em;
    color: white;
    background-color: #5cb85c;
    border-radius: 3px;
}

span.pos {
    text-transform: lowercase;
    font-size: 0.9em;
    margin-right: 5px;
    padding: 2px 4px;
    color: white;
    background-color: #0d47a1;
    border-radius: 3px;
}

span.tran {
    margin: 0;
    padding: 0;
}

span.eng_tran {
    margin-right: 3px;
    padding: 0;
}

span.chn_tran {
    color: #0d47a1;
}

ul.sents {
    font-size: 0.8em;
    list-style: square inside;
    margin: 3px 0;
    padding: 5px;
    background: rgba(13, 71, 161, 0.1);
    border-radius: 5px;
}

li.sent {
    margin: 0;
    padding: 0;
}

span.eng_sent {
    margin-right: 5px;
}

span.chn_sent {
    color: #0d47a1;
}
